boto==2.48.0
boto3==1.4.6
botocore==1.6.3
cairocffi==0.8.0
CairoSVG==2.0.3
cffi==1.10.0
click==6.7
cssselect==1.0.1
Django==2.0
django-ajax==0.2.0
django-localflavor==1.5.2
django-lockdown==1.4.2
django-mako-plus==4.1.10
django-polymorphic==1.1
django-python3-ldap==0.9.14
django-storages==1.6.5
docutils==0.14
html5lib==0.999999999
jmespath==0.9.3
ldap3==2.2.2
lxml==3.8.0
Mako==1.0.6
MarkupSafe==0.23
olefile==0.44
Pillow==4.2.0
plivo==0.11.3
psycopg2
pyasn1==0.2.3
pycparser==2.18
pycurl==7.43.0
pyPdf==1.13
PyPDF2==1.26.0
Pyphen==0.9.4
python-dateutil==2.6.1
python-dotenv==0.6.5
pytz==2017.2
rcssmin==1.0.6
reportlab==3.4.0
requests==2.13.0
rjsmin==1.0.12
s3transfer==0.1.10
six==1.10.0
stripe==1.50.0
tinycss==0.4
tinycss2==0.5
WeasyPrint==0.39
webencodings==0.5.1
whitenoise==3.3.0
xhtml2pdf==0.0.6
