{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
    <div class="parallax-container">
      <div class="parallax"><img src="{% static '/homepage/pexels-photo.jpg' %}" style="width:100%"></div>
      <a href="/" style="display:inline-block;"><div style="width:280px;height:75px;border:solid;margin-top:300px;margin-left:65%;text-align:center;position:absolute;"><h3 style="line-height:.35;">Learn More</h3></div></a>
    </div>
    <div class="section white">
      <div class="row container">
        <h2 class="header">Input Your Video Game Information</h2>
        <p class="grey-text text-darken-3 lighten-3">
            <form class="" action="/homepage/landingpage/" method="post">
                {% csrf_token %}
                {{form}}
                <input class="btn btn-success" value="Save" type="submit"></input>
            </form>
        </p>
      </div>
    </div>
    <div class="parallax-container">
      <div class="parallax"><img src="{% static '/homepage/pexels-photo.jpg' %}" style="width:100%"></div>
    </div>
    <!-- <div class="parallax-container">
      <div class="parallax"><img src="{% static 'pexels-photo.jpg' %}"></div>
    </div> -->



    <script type="text/javascript">
    var elem = document.querySelector('.parallax');
    var instance = M.Parallax.getInstance(elem);

    $(document).ready(function(){
        console.log('ready');
        $('.parallax').parallax();
    });
    </script>
{% endblock content %}
