{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}Home{% endblock title %} | AdVantage</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

    <!-- Materialize Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <link href="{% static '/homepage/materialize.min.css' %}" rel="stylesheet" type="text/css">

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <!-- Materialize Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <script src="{% static '/homepage/materialize.min.js' %}"></script>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Custom CSS -->
    <!-- <link href="{% static 'main.css' %}" rel="stylesheet" type="text/css"> -->

    {% block resources %}
    {% endblock resources %}

    <!-- favicon -->
    <!-- <link rel="icon" type="image/png" sizes="32x32" href="{% static '' %}"> -->

    <!-- animation package -->
    <!-- <link href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" rel="stylesheet">
    <script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script> -->
    <script src="https://use.fontawesome.com/e32a5ff2e3.js"></script>

    <!-- bootstrap js -->
    <script type="text/javascript" src="https://cdn.rawgit.com/kimmobrunfeldt/progressbar.js/0.6.1/dist/progressbar.js"></script>

    <!-- <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

    <meta property="og:url"           content="https://advantage.xlr8dev.com" />
    <meta property="og:type"          content="website" />
    <meta property="og:title"         content="AdVantage" />
    <meta property="og:description"   content="Find out what the ad companies know about YOU!" />
    <meta property="og:image"         content="" />

    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-1681893658260248",
        enable_page_level_ads: true
      });
    </script>

</head>
<body id="body-account">
    <div id="fb-root"></div>
    <script>
        (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.12&appId=392880067827449&autoLogAppEvents=1';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    <header>
        <nav style="position:fixed;">
            <div class="nav-wrapper">
                <a href="/" class="brand-logo"><img src="{% static '/homepage/XLR8_large_colored_lightback.png' %}" style="width:100px;"/></a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="sass.html">Sass</a></li>
                    <li><a href="badges.html">Components</a></li>
                    <li><a href="collapsible.html">JavaScript</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <!-- <div class="container">
        <ul class="collection">
            <li class="collection-item avatar">
              <img src="images/yuna.jpg" alt="" class="circle">
              <span class="title">Title</span>
              <p>First Line <br>
                 Second Line
              </p>
              <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
            </li>
            <li class="collection-item avatar">
              <i class="material-icons circle">folder</i>
              <span class="title">Title</span>
              <p>First Line <br>
                 Second Line
              </p>
              <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
            </li>
            <li class="collection-item avatar">
              <i class="material-icons circle green">insert_chart</i>
              <span class="title">Title</span>
              <p>First Line <br>
                 Second Line
              </p>
              <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
            </li>
            <li class="collection-item avatar">
              <i class="material-icons circle red">play_arrow</i>
              <span class="title">Title</span>
              <p>First Line <br>
                 Second Line
              </p>
              <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
            </li>
        </ul>
    </div> -->

    <div class="parallax-container">
      <div class="parallax"><img src="{% static '/homepage/pexels-photo.jpg' %}" style="width:100%"></div>
      <a href="/" style="display:inline-block;"><div style="width:280px;height:75px;border:solid;margin-top:300px;margin-left:65%;text-align:center;position:absolute;"><h3 style="line-height:.35;">Learn More</h3></div></a>
    </div>
    <div class="section white">
      <div class="row container">
        <h2 class="header">Targeted Advertising</h2>
        <p class="grey-text text-darken-3 lighten-3">Have you ever shopped online for something, only to browse to a new website and find an advertisement for the exact product you were just viewing? You may wonder how exactly does this completely separate website know what you were looking at. If advertisers know your shopping habits, what else do they know about you?</p>
      </div>
    </div>
    <div class="parallax-container">
      <div class="parallax"><img src="{% static '/homepage/pexels-photo.jpg' %}" style="width:100%"></div>
    </div>
    <!-- <div class="parallax-container">
      <div class="parallax"><img src="{% static 'pexels-photo.jpg' %}"></div>
    </div> -->



<script type="text/javascript">
    var elem = document.querySelector('.parallax');
    var instance = M.Parallax.getInstance(elem);

    $(document).ready(function(){
        console.log('ready');
        $('.parallax').parallax();
    });


    var path_logout = "{% static "exit.json" %}"
    var path_dashboard = "{% static "dashboard.json" %}"
    var path_profile = "{% static "profile.json" %}"
    var path_checkmark = "{% static "checkmark.json" %}"
    var path_play = "{% static "play.json" %}"
    var path_cog = "{% static "cog.json" %}"
</script>
<!-- <script type="text/javascript" src="{% static "main.js" %}"></script>
<script type="text/javascript" src="{% static "lottie.js" %}"></script>
<script type="text/javascript" src="{% static "animation.js" %}"></script> -->

</body>



</html>
